<div class="box gggggg">
   <div class="box-content">
    <div class="box-product">
	<? //var_dump($categories);?>
		
	<?php foreach ($categories as $product) { ?>
		<div class="text_image" style="background:url(<? echo $product['thumb']; ?>); background-repeat: no-repeat; background-size: 100%;">
			<p style="font-size: 28px;font-family: arial;    text-transform: uppercase;"><? echo $product['name']; ?></p>
			<p style="font-size: 16px; "><? echo $product['description']; ?></p>
			<a class="href_detailed" href="<? echo $product['href']; ?>">Детальнее</a>
		</div>
	<?php } ?>
		
    </div>

  </div>
</div>