<div class="slideshow">
  <?/*<div id="slideshow<?php echo $module; ?>" class="nivoSlider" style="width: <?php echo $width; ?>px; height: <?php echo $height; ?>px;">*/?>
	<ul class="bxslider2" style="padding: 0;">
    <?php $i=0; foreach ($banners as $banner) { ?>
		<li style="background:url(image/<?php echo $banner['image']; ?>) no-repeat;background-position: 0 <?php if(!$i) echo '85%'; else echo '30%'; ?> ; background-size: 100% ; height: 50vh;">
		<?php /*if ($banner['link']) { ?>
		<a href="<?php echo $banner['link']; ?>"><img src="image/<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" /></a>
		<?php } else { ?>
		<img src="image/<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" />
		<?php }*/ ?>
			<!--div class="image_slide">
				<img src="image/<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" />
			</div-->
			<div class="detailed">
				<p class="big_text"><?php echo $banner['title1']; ?></p>
				<p style="    font-size: 17px;"><?php echo $banner['title2']; ?></p>
				<a class="href_detailed" href="<? echo $banner['link']; ?>">Детальнее</a>
			</div>
		</li>
    <?php $i++; } ?>
	</ul>
  
</div>
<script>
	$(document).ready(function(){
	  $('.bxslider2').bxSlider({
		mode: 'fade',
		controls: false,
		auto: true,
		pause: 6000,
		autoHover: true
	});
	});
	
  /*$(function() {
    $(".rslides").responsiveSlides({
		//auto: true,
		pager: true,
		speed: 800,
		timeout: 500000
	});
  });*/

</script>