<?php echo $header; ?>
<div class="breadcrumb">
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
  <?php } ?>
</div>
<script>
	$('#top-bg').addClass('background_page');
</script>
<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  <h1 class="title_information"><?php echo $heading_title; ?></h1>
  <div class="main-content">
    <?php echo $description; ?>
    <!--div class="buttons">
      <div class="right"><a href="<?php echo $continue; ?>" class="button"><?php echo $button_continue; ?></a></div>
    </div-->
  </div>
  
<?php echo $content_bottom; ?></div>
<?php echo $footer; ?>